<div class="host">
  <p-tabView styleClass="tabview-custom" (onChange)="handleChange($event)" [(activeIndex)]="index">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-chart-line"></i>
        <span>Visão Mensal</span>
      </ng-template>
      <div class="host">
        <p-calendar
          [(ngModel)]="rangeDates"
          [showIcon]="true"
          icon="pi pi-calendar"
          selectionMode="range"
          [readonlyInput]="true"
          inputId="range"
        ></p-calendar>

        <p-button
          label="Filter"
          icon="pi pi-filter"
          (onClick)="updateMonthViews()"
        ></p-button>
      </div>
      <div class="card">
        <p-table [value]="occurrencesFiltered">
          <ng-template pTemplate="header">
            <tr>
              <th>Date</th>
              <th>Needs Medical Assistence</th>
              <th>Needs Security Assistence</th>
              <th>Needs Psychological Assistence</th>
              <th>Urgency Level</th>
              <th>City</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-occurrence>
            <tr>
              <td>{{ occurrence.date }}</td>
              <td>{{ occurrence.needsMedicalAssistance }}</td>
              <td>{{ occurrence.needsSecurityAssistance }}</td>
              <td>{{ occurrence.needsPsychologicalAssistance }}</td>
              <td>{{ occurrence.urgencyLevel }}</td>
              <td>{{ occurrence.city }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="card">
        <h5>Quantidade de Ocorrências por Nível de Urgência</h5>

        <p-chart type="pie" [data]="pieData"></p-chart>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-bar"></i>
        <span>Visão Anual</span>
      </ng-template>
      <div class="card">
        <input name="yearSelector" [(ngModel)]="yearFilter" type="text" pInputText placeholder="date" />

        <p-button
          label="Filter"
          icon="pi pi-filter"
          (onClick)="updateYearViews()"
        ></p-button>
      </div>
      <div class="card">
        <p-table [value]="occurrencesFiltered">
          <ng-template pTemplate="header">
            <tr>
              <th>Ocorrências Médicas</th>
              <th>Ocorrências Psicológicas</th>
              <th>Ocorrências Policiais</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-occurrence>
            <tr>
              <td>{{ occurrence.countMedOccurrences }}</td>
              <td>{{ occurrence.countPsyOccurrences }}</td>
              <td>{{ occurrence.countSecOccurrences }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
