<div class="all">
  <h1>Cadastrar ocorrência</h1>
  <div class="p-field p-col-12 p-md-4">
    <label for="icon">Data da Ocorrência </label>
    <p-calendar
      name="datecal"
      [(ngModel)]="dateOccurrence"
      [showIcon]="true"
      inputId="icon"
    ></p-calendar>
  </div>

  <div class="p-field-checkbox">
    <p-checkbox
      [(ngModel)]="needsPsyHelp"
      [binary]="true"
      name="psihelp"
    ></p-checkbox>
    <label> Precisa de ajuda psicológica</label>
  </div>

  <div class="p-field-checkbox">
    <p-checkbox
      [(ngModel)]="needsMedHelp"
      [binary]="true"
      name="medhelp"
    ></p-checkbox>
    <label> Precisa de ajuda médica</label>
  </div>

  <div class="p-field-checkbox">
    <p-checkbox
      name="polhelp"
      [(ngModel)]="needsSecHelp"
      [binary]="true"
    ></p-checkbox>
    <label> Precisa de ajuda policial</label>
  </div>

  <h5>Local da ocorrência</h5>
  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      [(ngModel)]="location"
      name="locationform"
    />
    <label for="float-input">Local da ocorrência</label>
  </span>

  <p-button
    label="Submeter"
    (click)="postOccurrence()"
    name="botaosubmeter"
  ></p-button>

  <p-table [value]="filteredInst">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Tipo</th>
        <th>Endereço</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-institution>
      <tr name="institutionlist">
        <td name="institutionsName">{{ institution.name }}</td>
        <td name="institutionsEmail">{{ institution.email }}</td>
        <td>{{ institution.phoneNumber }}</td>
        <td>{{ institution.type }}</td>
        <td>
          <a [href]="institution.mapsUrl" name="institutionAddressString">
            {{ institution.addressString }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
