<html>
  <div class="all">

    <p-menubar [model]="items" class= "menu-bar">
      <form class = "form" [formGroup]="ocurrenceForm" (ngSubmit)="findInstitution()">

        <div>
            <label for="location">
                Localização
            </label>
            <input id="location" type="text" formControlName="location">
        </div>

        <div>
            <label for="urgencyLevel">
                Nível de urgência
            </label>
            <input id="urgencyLevel" type="number" formControlName="urgencyLevel">
        </div>

        <button class="button" type="submit">Submeter</button>
        <button class="button" type="submit">Log In</button>
      
      </form>
      

    </p-menubar>
  
    <li>
      <a [routerLink]="mapsUrl" teste='oi' routerLinkActive="active">Ir para mapa</a>
    </li>
    <li>
      <a routerLink="/maps" routerLinkActive="active">Adicinoar ocorrência</a>
    </li>
  
    <institutions></institutions>
    <router-outlet></router-outlet>
  </div>

</html>

