<div class="all">
  <p-menubar [model]="items">
    <div>
      <form class = "form" [formGroup]="ocurrenceForm" (ngSubmit)="findInstitution()">

        <div>
            <label for="location">
                Localização
            </label>
            <input id="location" type="text" formControlName="location">
        </div>

        <div>
            <label for="urgencyLevel">
                Nível de urgência
            </label>
            <input id="urgencyLevel" type="number" formControlName="urgencyLevel">
        </div>

        <button class="button" type="submit">Submeter</button>
        <button class="button" type="submit">Log In</button>
      
      </form>
      
      <button
        class="btn"
        type="button"
        pButton
        label="LogIn"
        icon="pi pi-power-off"
        style="margin-left: 0.25em"
        [routerLink]="'/admin/analytics'"
      ></button>
    </div>
  </p-menubar>

  <router-outlet></router-outlet>
</div>
