<html>
    
    <div class="p-field p-col-12 p-md-4">
        <label for="icon">Data da Ocorrência</label>
        <p-calendar [(ngModel)]="dateOccurrence" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
    
    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsPsyHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Psicológica</label>
    </div>

    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsMedHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Médica</label>
    </div>

    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsSecHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Policial</label>
    </div>


    <div class="p-field p-col-12 p-md-3">
        <label for="minmax-buttons">Nível de Urgência</label>
        <p-inputNumber [(ngModel)]="urgLevel" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="5">
        </p-inputNumber>
    </div>
    



    <form [formGroup]="ocurrenceForm" (ngSubmit)="filterInstitutions()">

        <div>
            <label for="location">
                Localização
            </label>
            <input id="location" type="text" formControlName="location">
        </div>

        <div>
            <label for="urgencyLevel">
                Nível de urgência
            </label>
            <input id="urgencyLevel" type="number" formControlName="urgencyLevel">
        </div>

        <button class="button" type="submit">Submeter</button>
      
      
    </form>

     
</html>