<html>

    
    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsPsyHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Psicológica</label>
    </div>

    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsMedHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Médica</label>
    </div>

    <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="needsSecHelp" [binary]="true"></p-checkbox>
        <label>Ajuda Policial</label>
    </div>
    
    <form [formGroup]="ocurrenceForm" (ngSubmit)="filterInstitutions()">

        <div>
            <label for="location">
                Localização
            </label>
            <input id="location" type="text" formControlName="location">
        </div>

        <div>
            <label for="urgencyLevel">
                Nível de urgência
            </label>
            <input id="urgencyLevel" type="number" formControlName="urgencyLevel">
        </div>

        <button class="button" type="submit">Submeter</button>
      
      
    </form>
     
</html>